@model EventsApplication.Models.EventTypeViewModel

@{
    ViewData["Title"] = "Index";
}
<div class="row">
    <div class="col-10 TitleHeading"> <h1>Upcoming Events</h1> </div>
    <div class="col-2"><p><a asp-action="Create">Create New</a></p></div>
</div>
<br />
<form asp-controller="Events" asp-action="Index" method="get">
    <p>

        <select asp-for="EventType" asp-items="Model.Types">
            <option value="">All</option>
        </select>

        Owner: <input type="text" name="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>
<br />

<!--Saved old index in D:/Temp-->
<div class="container">
    @foreach (var item in Model.Events)
    {
    <div class="row">
        <div class="col-3">
            
            @{string url = item.filename;}
            <img src="~/css/Images/@url" alt="Alternate Text" width="200" height="200"/>
        </div>
        
        
        <div class="col-7">
            <p>Type: @item.Type</p>
            <p>Owner: @item.Owner</p>
            <p>@Html.DisplayFor(modelItem => item.Description)</p>
            
        </div>
        <div class="col-1">
            Date:
            @Html.DisplayFor(modelItem => item.ReleaseDate)
            Price: £@Html.DisplayFor(modelItem => item.Price)

        </div>
        <div class="col-1">
            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
            <a asp-action="Details" asp-route-id="@item.Id">Details</a>
        </div>

    </div>
    <br />
    }
</div>